<script src="./lib/colyseus.js"></script>
<script src="./lib/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js"></script>
<script src="./lib/vue.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">

<div id="app">
<div id="game" class="hide">
	<div id="ui" v-if="ready">
		<div>Round {{ state.roundNumber }}</div>
		<div v-for="player in state.playerList">
			<div class="player">
				<span>{{ state.playerNames[player] }}</span>
				<i class="material-icons"
				v-if="state.playerStatus[player]">
				{{ icon[state.playerStatus[player]] }}
				</i>
				<span v-if="state.playerPoints[player]">
				{{ state.playerPoints[player] }}</span>
			</div>
		</div>
		<div v-if="state.roundNumber == 0 && state.host == self">
			<a onclick="startGame()">Start</a>
		</div>
	</div>

	<div id="tabletop" class="cardrow">
		<div class="black card">
			<p>
				<b>Snazzy.</b><br>
				The game has not started yet.
			</p>
		</div>
	</div>

	<div id="submit" class="container cardrow">
		<div class="dropzone"></div>
		<div class="dropzone"></div>
		<a class="card" onclick="remove()" id="remove">
			<p>Play card</p>
		</a>
	</div>

	<div id="hand" class="container cardrow">
		<div class="warning">You are the Card Czar.</div>
		<div class="dropzone"></div>
		<div class="dropzone"></div>
		<div class="dropzone"></div>
		<div class="dropzone"></div>
		<div class="dropzone"></div>
		<div class="dropzone"></div>
		<div class="dropzone"></div>
	</div>
</div>
</div>


<script src="main.js"></script>
<script src="ui.js"></script>